* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background: #001D38;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px)
.contact100-map {
    display: none;
}
@media (max-width: 1200px)
.contact100-map {
    width: calc(100% - 440px);
}
.contact100-map {
    position: absolute;
    z-index: -2;
    width: calc(100% - 580px);
    height: 100%;
    top: 0;
    left: 0;
}


.contact100-more {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 212px;
    height: 50px;
    border-radius: 25px;
    background-color: #39b54a;
    padding: 0 20px;
    top: 50%;
    left: calc((100% - 640px) / 2);
    transform: translate(-50%, -50%);
}
@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 82px 15px 33px 15px;
  }
}



.wave {
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    z-index: -1;
}
.contact100-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 68px;
}

.validate-input {
    position: relative;
}
.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 45px;
}

.label-input100 {
    font-size: 18px;
    color: #999999;
    line-height: 1.2;
    padding-left: 2px;
}
input.input100 {
    height: 50px;
}
textarea.input100 {
    min-height: 140px;
    padding-top: 13px;
    padding-bottom: 13px;
}
input {
    outline: none;
    border: none;
}
button, input {
    overflow: visible;
}

.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Poppins-Regular;
    font-size: 22px;
    color: white;
    line-height: 1.2;
    padding: 0 2px;
}
textarea {
    outline: none;
    border: none;
}
textarea {
    overflow: auto;
    resize: vertical;


}



